body {
    max-width: 960px;
    max-height: 1000px; 
    background: url("..//images/background.image2.png"); 
    background-size: 100%; 
}

h1 {
    background-color: green;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    width: 650px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

#instructions {
    background-color: #d866b4;
    font-family: Arial, Helvetica, sans-serif;
    color: #613b68;
    font-size: 20px;
    line-height: 20px;
    width: 650px;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}

#random-number {
    width: 270px;
    height: 150px;
    background-color: #6d878d;
    margin: 10px;
    color: black;
    font-size: 100px;
    float: left;
    border-radius: 15px;
    text-align: center
}

#game-count {
    background-color: #08aaf7;
    width: 270px;
    height: 150px;
    padding: 12px;
    padding-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    float: left;
    line-height: 40px;
    border-radius: 15px;
}

#green_crystal,
#yellow_crystal,
#blue_crystal,
#purple_crystal {
    height: 100px;
    width: 125px;
    margin:10px;
    float: left;
}

#total_score {
    clear: both;
    width: 270px;
    background-color: #4fe46d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:white;
    /* line-height: 20px; */
    margin: 10px;
    padding-top: 15px;
    border-radius: 15px;
    float: left;
    text-align: center;
}

#player_score {
    width: 270px;
    height: 83px;
    padding-bottom: 25px;
    margin: 10px;
    background-color: #4fe46d;
    color: antiquewhite;
    font-size: 50px;
    border-radius: 15px;
    float: left;
    text-align: center;
}

.images {
    clear: both;
}






